{% extends "dashboard/base-dashboard.html" %}

{% block content %}


<div class="container my-5">
    <div class="d-flex justify-content-between"><h3><strong>Product List</strong></h3>
        <a href="{% url 'add_furniture_ad' %}" class="btn btn-warning" style=" width: 199px; height: 44px;
           background: #E3B930; border-radius: 4px">Sell</a></div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Views</th>
                <th scope="col">Price</th>
                <th scope="col">Posted</th>
                <th scope="col">Ad expire date</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ad in list_of_ads %}
            <tr>
                <td><img src="{{ad.image.url}}" alt="" width="100px" class="rounded shadow-sm"></td>
                <td class="align-middle">{{ad.name}}</td>
                <td class="align-middle">{{ad.category.name}}</td>
                <td class="align-middle">{{ad.views}}</td>
                <td class="align-middle">{{ad.currency}} {{ad.price}}</td>
                <td class="align-middle">{{ad.creation_date}}</td>
                <td class="align-middle">{{ad.ad_duration_to}}</td>
                <td class="align-middle">
                    <div class="d-flex justify-content-around">
                        <a href="" class="text-warning"><i class='fas fa-pen'></i></a>
                        <a href="" class="text-warning"><i class='fas fa-trash'></i></a>
                    </div>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}