{% extends "dashboard/base-dashboard.html" %}

{% block content %}
<div class="container mt-5 ">
    <h1 class="text-center mb-4">Message Threads</h1>
    <div class="row d-flex flex-column">
        {% for thread in threads %}
        <div class="col-md-6 mx-auto mb-3">
            <a href="{% url 'dashboard_thread_detail' thread_pk=thread.pk %}" class="text-decoration-none">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-start d-flex flex-row justify-content-around">
                        <div class="mr-3 d-flex flex-column align-items-center justify-content-start">
                            <img src="{{ MEDIA_URL }}{{ thread.seller.photo.url }}" alt="seller" class="rounded-circle"
                                 style="width: 64px; height: 64px;">
                            <p class="text-center m-0">{{ thread.seller.user.username }}</p>
                            <span class="text-secondary" style="font-size: x-small">(seller)</span>
                        </div>
                        <div class="mr-3 d-flex flex-column align-items-center  justify-content-start">
                            <img src="{{ MEDIA_URL }}{{ thread.furniture_ad.image.url }}" alt="product" class="rounded"
                                 style="width: 64px; height: 64px;">
                            <p class="text-center m-0">{{ thread.furniture_ad.name }}</p>
                            <span class="text-secondary" style="font-size: x-small">(product)</span>
                        </div>
                        <div class="mr-3 d-flex flex-column align-items-center  justify-content-start">
                            <img src="{{ MEDIA_URL }}{{ thread.customer.photo.url }}" alt="buyer" class="rounded-circle"
                                 style="width: 64px; height: 64px;">
                            <p class="text-center m-0">{{ thread.customer.user.username }}</p>
                            <span class="text-secondary" style="font-size: x-small">(customer)</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}