{% extends "base_generic.html"%}

{% block content %}
<style>

    .product-image {
        height: 100%;
        max-height: 500px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        text-align: center; /* Center the content */
        /*object-fit: cover;*/
    }

    .free-shipping {
        font-size: 24px;
        font-weight: bold;
        color: #BC1D1B;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add text shadow to "Free Shipping" */
    }


    .product-description {
        padding: 20px;
    }

    .product-title {
        font-size: 28px;
        font-weight: bold;
        color: #1D252C;
    }

    .product-price {
        font-size: 36px;
        font-weight: bold;
        color: #54C588;
    }

    .product-features {
        font-size: 16px;
        color: #849A8E;
        margin-bottom: 10px;
    }

    .btn-message-seller {
        background-color: #E3B930;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-add-to-cart {
        background-color: #BC1D1B;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .btn-message-seller:hover, .btn-add-to-cart:hover {
        opacity: 0.8;

    }

    .product-info-container {
        background-color: #F3F3F3;
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px;
    }

</style>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-start align-items-center">
            <div class="product-container">
                {% if item.image %}
                <img src="{{ MEDIA_URL }}{{ item.image.url }}" class="img-fluid product-image" alt="Product Image">
                {% endif %}
            </div>
            <div class="product-description">
                <h5>
                    <strong>{{ item.description }}</strong>
                </h5>
            </div>
            <p class="free-shipping align-self-start">🚚 FREE SHIPPING</p>
        </div>
        {% load custom_filters %}
        <style>
            .star {
                font-size: 32px;
                color: #fddb27;
                text-shadow: 0 0 5px rgba(253, 219, 39, 0.7), 0 0 10px rgba(253, 219, 39, 0.5), 0 0 15px rgba(253, 219, 39, 0.3);
                animation: pulsate 5s infinite;
            }

            @keyframes pulsate {
                0%, 100% {
                    opacity: 0.8;
                    text-shadow: 0 0 5px rgba(253, 219, 39, 0.7), 0 0 10px rgba(253, 219, 39, 0.5), 0 0 15px rgba(253, 219, 39, 0.3);
                }
                50% {
                    opacity: 1;
                    text-shadow: 0 0 10px rgba(253, 219, 39, 0.7), 0 0 20px rgba(253, 219, 39, 0.5), 0 0 30px rgba(253, 219, 39, 0.3);
                }
            }
        </style>

        <div class="col-md-6">
            <div class="product-description">
                <h2 class="product-title">{{item.name}}</h2>
                <p class="product-price">{{item.currency}} {{item.price}}</p>
                <div class="product-features">Quality:
                    {% for star in item.rating|stars_range %}
                    <span class="star">&#9733;</span>
                    {% endfor %}
                </div>
                <div class="col-md-8 mb-3">
                    <div class="product-info-container border rounded">
                        <div class="product-features">Dimensions:<br/>Length: {{item.length}} cm<br/>Width:
                            {{item.width}} cm<br/>Height: {{item.height}} cm
                        </div>
                        <div class="product-features">Weight:<br/>Approximately {{item.weight}} kg</div>
                        <div class="product-features">Contact:<br/>{{item.seller.phone_number}}</div>
                    </div>
                </div>
                {% if item.seller.user == user %}
                <a href="{% url 'edit_furniture_ad' ad_id=item.pk %}"
                   class="btn btn-message-seller border border-warning">Edit</a>
                <a href="{% url 'delete_furniture_ad' ad_id=item.pk %}"
                   class="btn btn-add-to-cart border border-danger">Delete</a>
                {% elif item.active == False %}
                <h1><strong>SOLD</strong></h1>
                {% else %}
                <a href="{% url 'create_thread' furniture_id=item.pk %}"
                   class="btn btn-message-seller border border-warning">Message
                    Seller</a>
                <a id="add_to_cart_button" href="{% url 'add_to_cart' furniture_id=item.pk %}" class="border border-danger btn btn-add-to-cart">+
                    Add to
                    Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}