{% extends "base_generic.html"%}

{% block content %}

<div class="shadow" style="border-radius: 0px 0px 215px 215px; width: 100%;
height: 100vh;
background-image: url('{{MEDIA_URL}}{{front_cover.cover_page.url}}');
background-position: center;
background-size: 100%;
background-repeat: no-repeat;"
     class="pt-md-5 pt-3"
>
    <div class="container d-flex align-items-center justify-content-center flex-column"
         style="width: 90%;
         max-width: 730px;
         height: 349px;
         border-radius: 50px;
         background: rgba(247, 248, 250, 0.80);
         backdrop-filter: blur(5px);"
    >
        <div class="text-center mb-md-4 mb-3" style="color: #1D252C;">
            <h1 class="fw-bold" style="font-family: Poppins,serif; font-size: 32px; line-height: 1.8;">
                {{front_cover.title}}</h1>
        </div>
        <div class="text-center mb-md-4 mb-3" style="color: #000;">
            <p class="fw-normal" style="font-family: Inter,serif; font-size: 18px; line-height: 1.42222;">
                {{front_cover.subtitle_1}} <br> {{front_cover.subtitle_2}}</p>
        </div>

        <div class="d-grid gap-3 d-md-flex justify-content-md-center">
            <a href="{% url 'adcategory' %}" class="btn btn-danger" style="border-radius: 50px;">{{front_cover.buy_button}}</a>
            {% if user.is_authenticated %}
            <a href="{% url 'add_furniture_ad' %}" class="btn btn-warning" style="border-radius: 50px;">{{front_cover.sell_button}}</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-warning"
               style="border-radius: 50px;">{{front_cover.sell_button}}</a>
            {% endif %}
        </div>
    </div>
</div>


<div> <!--Add margin here to make it look equal-->
    <div class="container  my-2 flex-column d-flex justify-content-center">
        <div style="text-align: center; color: #0B254B; font-size: 40px; font-family: Poppins; font-weight: 500; line-height: 57.60px;">
            Most Viewed Products
        </div>
        <div style="text-align: center; color: #5E6E89; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 27.60px;">
            Order it for you or for your beloved ones
        </div>
    </div>


    <!--Add for loop here-->
    <style>
        .card {
            width: 255px;
            transition: transform 0.2s, box-shadow 0.2s;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adding box shadow */
        }

        .card:hover {
            transform: translateY(-5px); /* Adding a pop-off animation */
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increasing the box shadow on hover */
        }

        .price {
            color: #54C588; /* Making the price green */
        }

    </style>

    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            {% for ad in popular_ads %}
            <div class="col-md-3 col-sm-6 m-2 card p-0" style="width: 255px;">

                <a class="text-decoration-none text-reset" href="{% url 'addetails' pk=ad.pk %}">
                    <div style="background-color: #f5f5f5; height: 255px;"
                         class="text-decoration-none text-reset d-flex flex-column justify-content-center align-items-center">
                        <div style="overflow: hidden;">
                            <img style="width: 100%; object-fit: fill;" src="{{MEDIA_URL}}{{ad.image.url}}"
                                 class="card-img-top"
                                 alt="Product Image">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ad.name}}</h5>
                        <p class="card-text price">{{ad.currency}} {{ad.price}}</p>
                    </div>
                </a>

            </div>
            {% endfor %}
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="{% url 'adcategory' %}" class="btn btn-danger mt-3" style="display: inline-flex;
height: 37.65px;
padding: 8px 44px;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;">Show All
                </a>
            </div>
        </div>

        <div class="row m-2">
            <div class="col d-flex justify-content-center">
                {% if user.is_authenticated %}
                <a href="{% url 'add_furniture_ad' %}" style="color: var(--yellow, #E3B930);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 142.222% */
letter-spacing: -0.9px;
text-decoration-line: underline;">Sell Instead</a>
                {% else %}
                <a href="{% url 'login' %}" style="color: var(--yellow, #E3B930);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 142.222% */
letter-spacing: -0.9px;
text-decoration-line: underline;">Sell Instead</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>


<div style="background: rgba(187, 29, 27, 0.50)"
     class="py-5 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 d-flex flex-column align-items-center mb-4">
                <h1 class="text-center mb-4">Rediscover Quality Furniture with Lasting Style</h1>
                <ul style="list-style-type: none;">
                    <li><i class="fa fa-crosshairs" aria-hidden="true"></i> <strong>Clean and Fragrant
                        Furniture:</strong> Each piece meticulously selected for quality and style.
                    </li>
                    <li><i class="fa fa-crosshairs" aria-hidden="true"></i> <strong>Eco-Responsible:</strong>
                        Sustainable sourcing, packaging, and shipping for minimal environmental impact.
                    </li>
                    <li><i class="fa fa-crosshairs" aria-hidden="true"></i> <strong>Long-Lasting Appeal:</strong> No
                        more disposable furniture.
                    </li>
                </ul>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-danger">Learn More</button>
                </div>
            </div>
            <style>
                .rotate-container {
                    width: 434px;
                    height: 434px;
                    background: white;
                    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.25);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.5s ease-in-out;
                }

                .rotate-container:hover {
                    transform: rotate(360deg);
                }

                .image {
                    width: 400px;
                    border-radius: 20%;
                }
            </style>
            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center mb-4">
                <div class="rotate-container">
                    <img class="image" src="https://i.imgur.com/svgFzb0.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .testimonial-card {
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px rgba(139, 167, 178, 0.16);
    }
</style>
<div style="width: 100%; background: #FEF49D" class="pb-3">
    <div class="container text-center pt-5 pb-5">
        <div>
            <h1>Testimonials</h1>
        </div>
        <div>Some quotes from our happy customers</div>
    </div>

    <style>
        .testimonial-card {
            background: #ffffff;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
            perspective: 1000px;
        }

        .testimonial-card:hover {
            transform: rotateY(10deg) scale(1.05);
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
        }

    </style>

    <div class="container">
        <div class="row">
            {% for testimonial in testimonials %}
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center mb-4">
                <div class="testimonial-card d-flex flex-column justify-content-start align-items-center p-4 mb-4"
                     style="height: 400px; width:280px;">
                    <img style="width: 128px; height: 128px; object-fit: cover; border-radius: 50%;"
                         src="{{MEDIA_URL}}{{testimonial.image.url}}"
                         alt="" class="rounded-circle">
                    <style>
                        .star {
                            font-size: 32px;
                            color: rgba(255, 0, 0, 0.76); /* Red color */
                            text-shadow: 0 0 10px rgba(255, 128, 128, 0.7), 0 0 10px rgba(255, 178, 178, 0.5), 0 0 15px rgba(255, 178, 178, 0.3);
                            animation: pulsate 5s infinite;
                        }

                        @keyframes pulsate {
                            0%, 100% {
                                opacity: 0.8;
                                text-shadow: 0 0 5px rgba(255, 178, 178, 0.7), 0 0 10px rgba(255, 178, 178, 0.5), 0 0 15px rgba(255, 178, 178, 0.3);
                            }
                            50% {
                                opacity: 1;
                                text-shadow: 0 0 10px rgba(255, 178, 178, 0.7), 0 0 20px rgba(255, 178, 178, 0.5), 0 0 30px rgba(255, 178, 178, 0.3);
                            }
                        }


                    </style>
                    {% load custom_filters %}
                    <div class="d-flex flex-row mt-0">
                        {% for star in testimonial.rating|stars_range %}
                        <span class="star">&#9733;</span>
                        {% endfor %}
                    </div>
                    <p style="color: #1D293F; text-align: center; font-family: Poppins; font-size: 18px; font-weight: 500; line-height: 28.8px;">
                        "{{testimonial.quote}}"
                    </p>
                    <p style="color: #7C8087; text-align: center; font-family: Actor; font-size: 18px; font-weight: 400; line-height: normal;">
                        {{testimonial.nickname}}
                    </p>
                </div>
            </div>
            {% endfor %}

            <!-- Repeat the above div for each testimonial -->

        </div>
    </div>
</div>

{% endblock %}



