{% extends "base_generic.html"%}

{% block content %}

<div style="border-radius: 0px 0px 215px 215px; width: 100%;
height: 100vh;
background-image: url(https://i.imgur.com/bTKROCk.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;"
     class="pt-md-5 pt-3"
>
    <div class="container d-flex align-items-center justify-content-center flex-column"
         style="width: 90%;
         max-width: 730px;
         height: 349px;
         border-radius: 50px;
         background: rgba(247, 248, 250, 0.80);
         backdrop-filter: blur(5px);"
    >
        <div class="text-center mb-md-4 mb-3" style="color: #1D252C;">
            <h1 class="fw-bold" style="font-family: Poppins,serif; font-size: 32px; line-height: 1.8;">Rediscover
                Furniture
                Reselling</h1>
        </div>
        <div class="text-center mb-md-4 mb-3" style="color: #000;">
            <p class="fw-normal" style="font-family: Inter,serif; font-size: 18px; line-height: 1.42222;">Rediscover the
                Art
                of Furniture Reselling.<br>Unleash the Potential of Pre-Loved Furniture.</p>
        </div>

        <div class="d-grid gap-3 d-md-flex justify-content-md-center">
            <a href="{% url 'adcategory' %}" class="btn btn-danger" style="border-radius: 50px;">Discover Unique
                Treasures</a>
            <a href="{% url 'add_furniture_ad' %}" class="btn btn-warning" style="border-radius: 50px;">Sell</a>
        </div>
    </div>
</div>


<div> <!--Add margin here to make it look equal-->
    <div class="container  my-2 flex-column d-flex justify-content-center">
        <div style="text-align: center; color: #0B254B; font-size: 40px; font-family: Poppins; font-weight: 500; line-height: 57.60px;">
            Most Viewed Products
        </div>
        <div style="text-align: center; color: #5E6E89; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 27.60px;">
            Order it for you or for your beloved ones
        </div>
    </div>


    <!--Add for loop here-->
    <style>
        .card {
            width: 255px;
            transition: transform 0.2s, box-shadow 0.2s;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adding box shadow */
        }

        .card:hover {
            transform: translateY(-5px); /* Adding a pop-off animation */
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increasing the box shadow on hover */
        }

        .price {
            color: #54C588; /* Making the price green */
        }

    </style>


    <div class="container">
        <div class="row">
            {% for ad in popular_ads %}
            <div class="col col-md-3">

                <div class="card" style="width: 255px;">
                    <a class="text-decoration-none text-reset" href="{% url 'addetails' pk=ad.pk %}">
                        <img style="width: 255px;" src="{{MEDIA_URL}}{{ad.image.url}}" class="card-img-top"
                             alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ad.name}}</h5>
                            <p class="card-text price">{{ad.currency}} {{ad.price}}</p>
                        </div>
                    </a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="{% url 'adcategory' %}" class="btn btn-danger mt-2" style="display: inline-flex;
height: 37.65px;
padding: 8px 44px;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;">Show All
                </a>
            </div>
        </div>

        <div class="row m-2">
            <div class="col d-flex justify-content-center">
                <a href="{% url 'add_furniture_ad' %}" style="color: var(--yellow, #E3B930);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 142.222% */
letter-spacing: -0.9px;
text-decoration-line: underline;">Sell Instead</a>
            </div>
        </div>
    </div>

</div>


<div style="width: 100%; height: 678px; background: rgba(187, 29, 27, 0.50)"
     class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 d-flex flex-column align-items-center mb-4">
                <h1 class="text-center mb-4">Rediscover Quality Furniture with Lasting Style</h1>
                <ul style="list-style-type: none;">
                    <li><i class="fa fa-crosshairs" aria-hidden="true"></i> <strong>Clean and Fragrant
                        Furniture:</strong> Each piece meticulously selected for quality and style.
                    </li>
                    <li><i class="fa fa-crosshairs" aria-hidden="true"></i> <strong>Eco-Responsible:</strong>
                        Sustainable sourcing, packaging, and shipping for minimal environmental impact.
                    </li>
                    <li><i class="fa fa-crosshairs" aria-hidden="true"></i> <strong>Long-Lasting Appeal:</strong> No
                        more disposable furniture.
                    </li>
                </ul>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-danger">Learn More</button>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center mb-4">
                <div style="width: 434px; height: 434px; background: white; box-shadow: 8px 21px 57px -2px rgba(0, 0, 0, 0.25); border-radius: 50%;"
                     class="d-flex justify-content-center align-items-center">
                    <img style="width: 400px; border-radius: 20%;" src="https://i.imgur.com/svgFzb0.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .testimonial-card {
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px rgba(139, 167, 178, 0.16);
    }
</style>
<div style="width: 100%; height: 660px; background: #FEF49D">
    <div class="container text-center pt-5 pb-5">
        <div>
            <h1>Testimonials</h1>
        </div>
        <div>Some quotes from our happy customers</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center mb-4">
                <div class="testimonial-card d-flex flex-column justify-content-center align-items-center p-4 mb-4">
                    <div style="width: 134px; height: 134px; background: white; box-shadow: 0px 4px 20px 0px rgba(139, 167, 178, 0.16); border-radius: 50%;"
                         class="d-flex justify-content-center align-items-center mb-4">
                        <img style="width: 100px; border-radius: 50%;" src="https://i.imgur.com/svgFzb0.png" alt="">
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="179" height="32" viewBox="0 0 179 32" fill="none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="179" height="32" viewBox="0 0 179 32"
                             fill="none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="179" height="32" viewBox="0 0 179 32"
                                 fill="none">
                                <path d="M14.7315 0.189819L18.0338 10.8989H28.7202L20.0747 17.5175L23.377 28.2265L14.7315 21.6079L6.08604 28.2265L9.38832 17.5175L0.742838 10.8989H11.4292L14.7315 0.189819Z"
                                      fill="#BC1D1B"/>
                                <path d="M50.5091 0.189819L53.8114 10.8989H64.4978L55.8523 17.5175L59.1546 28.2265L50.5091 21.6079L41.8636 28.2265L45.1659 17.5175L36.5204 10.8989H47.2068L50.5091 0.189819Z"
                                      fill="#BC1D1B"/>
                                <path d="M86.2867 0.189819L89.589 10.8989H100.275L91.6299 17.5175L94.9322 28.2265L86.2867 21.6079L77.6412 28.2265L80.9435 17.5175L72.298 10.8989H82.9844L86.2867 0.189819Z"
                                      fill="#BC1D1B"/>
                                <path d="M122.065 0.189819L125.367 10.8989H136.053L127.408 17.5175L130.71 28.2265L122.065 21.6079L113.419 28.2265L116.721 17.5175L108.076 10.8989H118.762L122.065 0.189819Z"
                                      fill="#BC1D1B"/>
                                <path d="M164.202 0.189819L167.505 10.8989H178.191L169.546 17.5175L172.848 28.2265L164.202 21.6079L155.557 28.2265L158.859 17.5175L150.214 10.8989H160.9L164.202 0.189819Z"
                                      fill="#BC1D1B"/>
                                <path d="M164.202 0.189819L167.505 10.8989H178.191L169.546 17.5175L172.848 28.2265L164.202 21.6079L155.557 28.2265L158.859 17.5175L150.214 10.8989H160.9L164.202 0.189819Z"
                                      fill="url(#paint0_linear_1_58)"/>
                                <defs>
                                    <linearGradient id="paint0_linear_1_58" x1="167.946" y1="19.5627" x2="138.508"
                                                    y2="17.2346"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="white"/>
                                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </svg>
                    </svg>
                    <p style="color: #1D293F; text-align: center; font-family: Poppins; font-size: 18px; font-weight: 500; line-height: 28.8px;">
                        "UrbanNest is a great platform! I've found stunning pieces that add elegance to my home."
                    </p>
                    <p style="color: #7C8087; text-align: center; font-family: Actor; font-size: 18px; font-weight: 400; line-height: normal;">
                        Luisa
                    </p>
                </div>
            </div>

            <!-- Repeat the above div for each testimonial -->

        </div>
    </div>
</div>

{% endblock %}



