{% extends "base_generic.html"%}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-5 d-flex flex-column justify-content-start align-items-start p-4"
             style="background: #F1F1F1; border-top-left-radius: 50px;  border-bottom-left-radius: 50px; border: 0.50px solid #E3B930;">

            <div class="text-warning">
                Cart
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <span class="text-dark"> Details </span>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <span class="text-gray">Shipping</span>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <span class="text-gray">Payment</span>
            </div>
            <div class="container py-5">
                <form method="post" enctype="multipart/form-data" id="myform">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>

            <div class="container col-md-6 d-flex justify-content-between align-items-center">

                <a href="{% url 'shopping_cart' %}" class="text-danger font-weight-bold text-decoration-underline"
                   style="font-size: 18px;">Back to Cart</a>
                <input form="myform" value="Pay Now!" type=submit class="btn btn-warning"></input>
            </div>

            <!-- Other content inside the first column -->

        </div>
        <div class="col-md-6 mb-5"
             style="background: #F1F1F1; border-top-right-radius: 50px;  border-bottom-right-radius: 50px; border: 0.50px solid rgba(255,0,0,0.73);">
            <div class="container mt-4 mb-4">
                <div class="row">
                    <div class="col-md-10">

                        <!-- Loop through cart items -->
                        {% for item in items %}
                        <div class="row mt-3">
                            <div class="col-md-4 d-flex align-items-center">
                                <img src="{{ MEDIA_URL }}{{ item.furniture.image.url }}" alt="Product Image"
                                     class="rounded shadow-sm mr-3" style="width: 124.38px; height: 122.48px;">
                            </div>
                            <div class="col d-flex flex-column">
                                <div class="col-md-2 d-flex align-items-center"><h2>{{ item.furniture.name }}</h2></div>
                                <div class="col-md-2 d-flex align-items-center"><span>{{ item.furniture.currency }}{{ item.furniture.price }}</span>
                                </div>
                            </div>
                        </div>

                        <hr class="hr">

                        {% endfor %}

                        <div class="row">
                            <div class="col-md-6 font-weight-bold">Total</div>
                            <div class="col-md-6 font-weight-bold">{{ shopping_cart.get_total_price }}</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
