{% extends "base_generic.html"%}

{% block content %}


<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 style="color: var(--black, #000);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 57.6px; /* 221.538% */
letter-spacing: -0.9px;">Your cart items</h1>

    <a href="{% url 'index' %}">Back to shopping</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-10">
            Product
        </div>
        <div class="col-md-2">
            Price
        </div>
    </div>
    <hr>


    {% for item in items %}
    <div class="row mt-3">
        <div class="col-md-10 d-flex justify-content-start">
            <img style="width: 124.38px; height: 122.48px" src="{{MEDIA_URL}}{{ item.furniture.image.url }}"/>
            <div class="mx-3 d-flex flex-column align-items-start justify-content-center">
                {{ item.furniture.name }}
                <a href="{% url 'remove_from_cart' item.pk %}">remove</a>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column align-items-start justify-content-center">
            {{ item.furniture.price }}
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <!--Method call-->
        <div class="col">Sub-total: {{shopping_cart.get_total_price }}</div>
        <div class="col"><a href="" class="btn btn-danger " style="display: inline-flex;
padding: 8px 44px;
align-items: flex-start;
gap: 10px;border-radius: 4px;
background: var(--red, #BC1D1B);">Check-out</a></div>
    </div>

</div>


{% endblock %}
